.row{
    background-color:rgb(178, 128, 224);
}
footer{
    color:#fefefe;
    font-size:14px;
    display:flex;
    flex-direction:column;
    text-align:center;
    box-shadow:2px 2px 10px #fefefe
}
