<div class="row" >
    <h1>Experiencia Laboral</h1>
</div>
<div class=col-lg-11 >
   <ul>
    <li><h2>Trabajo N°1 <h3>(Año)</h3> </h2> </li>
<p>Los presentes trabajos realizado en la actualidad, son con fines educativos</p>    
   </ul> 
   <ul>
    <li> <h2>Trabajo N°2 <h3>(Año)</h3> </h2> </li>
    
<p>Los presentes trabajos realizado en la actualidad, son con fines educativos</p>    
   </ul>
   <ul>
    <li> <h2>Trabajo N°3 <h3>(Año)</h3> </h2>  
    </li>
    
<p>Los presentes trabajos realizado en la actualidad, son con fines educativos</p>    
   </ul>

</div>
