

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto git3.jpg" class="img-fluid" id="foto">
        </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            Parmigiani María Eliana
        </p>
        <p>Cursando Full Stack Developer Jr.</p>
        </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>
                A cerca de mi</h2>
                <h3><p>Vamos despacio porque vamos lejos!</p>
                    <p> Nacida en 1988, hice toda mi trayectoria de estudiante en escuela pública, y me recibí en la Universidad Nacional de Córdoba, actualmente enseño en colegio público, con evidente vocación social,con muchas ganas de aprender más, entre otras cosas, esa soy yo.</p>
            </h3>
        </span>
        </div>

</div>



