<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>
            Portafolio Web
        </h2>
        <p>El presente trabajo, es el Proyecto final, que integra los contenidos abordados en el curso.
            Html, css, Angular, base de datos en Mqsql,Java,otros.
        </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">

            <img src="./../../../assets/vista previa2.png"class="img-fluid img-proyecto">
        </div>
    </div>

</div>
