 .container{
display:flex;
align-items: center;
justify-content:space-between;
 }
 #logoArg {
width:150px;
}
img{
    width:50px;
    padding:2px;
    float: right;
}
.btn{
    font-weight:bold ;
    box-shadow: 2px 2px 5px;
}
@media(max-width:575px){
    .container{
flex-direction: column;
    }
    .redes{
flex-direction: column;
display:flex;
align-items:center;
    }
    .redes img{
        margin: 0.2em;

    }
}