<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoArg">
        </div>
        <div class="redes" class="col-md-2 ">
            <a href=""><img src="../../../assets/facebook-logo-3-1.png"></a>
            <a href=""><img src="../../../assets/githup.png"></a>
            <a href=""><img src="../../../assets/Instagram-Icon.png.webp"></a>
            <a href=""><img src="../../../assets/linkedin.png"></a> 

        </div>
        <button type="button" class="btn btn-outline ligth"(click)="login()">LOGIN</button>

    </div>
</div>

